aiohttp==3.7.4.post0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==3.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
discord.py==1.7.3
entrypoints==0.4
executing==0.8.3
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
python-dateutil==2.8.2
python-dotenv==0.20.0
Send2Trash==1.8.0
typing_extensions==4.1.1
widgetsnbextension==3.6.0
yarl==1.7.2
youtube-dl==2021.12.17
